.card {
	@include transition();
	@include box-shadow();
	@include margin();
	background: #fff;
	max-width: $spacing * 50;

	&:hover,
	&:focus {
		@include box-shadow($spread:15px, $colour:#afafaf);
	}

	&__header,
	&__body {
		@include padding-lg();
	}

	&__title {
		@include no-margin();
		@include no-padding();
		@include strong();
		font-size: rem($base-font-size * 1.2);
	}

	&__header {
		align-items: center;
		background: #fafafa;
		display: flex;
	}

	&__header-img {
		@include circle();
		height: $spacing-xxlg;
		margin-right: $spacing;
		width: $spacing-xxlg;
	}

	&__hero-img {
		@include width-full();
	}

	&__body {

		p:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}

	}

}
